[build-system]
requires = ["setuptools>=64.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "buildflow"
version = "0.0.8"
authors = [
    { name = "Caleb Van Dyke", email = "caleb@launchflow.com" },
    { name = "Josh Tanke", email = "josh@launchflow.com" },
]
description = "buildflow is a unified **batch** and **streaming** framework that turns any python function into a scalable data pipeline that can read from our supported IO resources."
readme = "README.md"
requires-python = ">=3.7"
dependencies = [
    "duckdb==0.6.0",
    "google-cloud-bigquery",
    "google-cloud-bigquery-storage",
    "google-cloud-pubsub",
    "google-cloud-storage",
    # TODO: https://github.com/grpc/grpc/issues/31885
    "grpcio==1.48.2",
    "fastparquet",
    "opentelemetry-api",
    "opentelemetry-sdk",
    "opentelemetry-exporter-otlp",
    "opentelemetry-exporter-jaeger",
    "pandas",
    "pyarrow",
    "pyyaml",
    "ray",
    "redis",
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development",
    "License :: OSI Approved :: Apache Software License",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "flake8",
    "setuptools",
    "wheel"
]

[tool.setuptools.packages]
find = {}  # Scan the project directory with the default parameters
